svg {
	fill: #FFFFFF
}

.yt {
	height: 166px;
}

.yt-container {
	min-height: 166px;
}
.sc-container { 
	min-height: 166px;
	padding-top: 20px;
	padding-left:65px;

}

.sc-artist {
	font: 13px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
	color: #FFFFFF;
	position: relative;
}

.sc-title {
	font: 13px/1.4 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
	color: #FFFFFF;
	position: relative;
}

.sc-play{
	margin-left: auto;
	margin-right: auto;
	display: block;
}