<div name="user_stuffs" style="border:0px black solid;">
        <div name="add_track" class="">
            <div class="input-group" >
                <span class="input-group-addon">
                    <a href="#" rel="tooltip" data-original-title="Paste in a youtube or soundcloud link!" id="what_do">
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </span>
                <input type="text" class="form-control" id="track_url">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="track_add_button">Add Trax!</button>
                </span>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                Edit URL:
            </span>
            <span>
                <input type="text" class="form-control" id="playlist_save_url" disabled></input>
            </span>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="resave_traxlist">Save Traxlist!</button>
            </span>
        </div>
    </div>